/* https://developers.google.com/fonts/docs/getting_started */

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

main {
    margin-top: 80px;
    margin-bottom: 60px;
}


/* table with fixed header */

.my-table-fixed {
    width: 100%;
    background-color: #f3f3f3;
}

.my-table-fixed tbody {
    height: 80vh;
    /* ez így nem teljesen jó, ezen még kell dolgozni*/
    overflow-y: auto;
    width: 100%;
}

.my-table-fixed thead,
.my-table-fixed tbody,
.my-table-fixed tr,
.my-table-fixed td,
.my-table-fixed th {
    display: block;
}

.my-table-fixed tbody td {
    float: left;
}

.my-table-fixed thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
}


/* footer */

.my-footer {
    line-height: 40px;
}


/* login page */

.my-row-login-form {
    margin-top: 50px;
}